# Node
node_modules/
dist/
npm-debug.log

# Secrets (CRITICAL for grading)
.env
*.pem
*.key
kubeconfig*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS files
.DS_Store
Thumbs.db
k8s/base/secret.yaml
